xmlschema/src/jvmTest/resources/xsts/boeingData/ipo5/itematt.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:attributeGroup name="ItemDelivery">
		<xsd:attribute name="partNum" type="SKU" use="required"/>
		<xsd:attribute name="weightKg" type="xsd:decimal"/>
		<xsd:attribute name="shipBy">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="air"/>
					<xsd:enumeration value="land"/>
					<xsd:enumeration value="any"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:simpleType name="SKU">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
